.elements__title{
  width: 246px;
  position: relative;
  padding-top: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 24px;
  line-height: 1.29;
  margin: 0;
  padding-left: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  .elements__title{
    padding-left: 0;
  }
}

@media screen and (min-width: 1021px) and (max-width: 1200px) {
  .elements__title{
    padding-left: 0;
  }
}