.modal-content__name{
  font-family: 'Inter';
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  color: #000000;
  padding-top: 54px;
}

.modal-content__local{
  font-family: 'Inter';
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  color: #000000;
  text-align: justify;
}
