.elements{
  display: grid;
  grid-template-columns: 24% 24% 24%;
  grid-template-rows: 100%, 100%;
  grid-row-gap: 20px;
  justify-content: center;
  margin: auto;
  padding-top: 50px;
}

@media screen and (max-width: 319px){
  .elements {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    padding-top: 36px;
    align-items: center;
  }
  .elements__item {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  .elements {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    padding-top: 36px;
    align-items: center;
  }
  .elements__item {
    width: 100%;
  }
}

@media screen and (min-width: 681px) and (max-width: 800px) {
  .elements {
    grid-template-columns: 30% 55%;
    grid-column-gap: 90px;
    width: 100%;
  }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
  .elements {
    grid-column-gap: 110px;
    width: 100%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1019px) {
  .elements {
    grid-column-gap: 80px;
    width: 100%;
  }
}

@media screen and (min-width: 1021px) and (max-width: 1200px) {
  .elements {
    grid-column-gap: 190px;
    padding-top: 50px;
    width: 70vh;
    padding-left: 75px;
  }
}

.disabled-button {
  background-color: rgb(144, 144, 144);
  cursor: not-allowed;
}


