.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 470px){
  .close{
    font-size: 26px;
  }
}