.popup-content__button{
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
}

.popup-content__button:hover{
  opacity: .5;
}

@media screen and (min-width: 320px) and (max-width: 470px){
  .popup-content__button{
    width: 34vh;
    font-size: 14px;
  }
}

@media screen and (min-width: 471px) and (max-width: 900px){
  .popup-content__button{
    width: 40vh;
  }
}